* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #90e1ea;
    color: #809bf1;
    padding: 20px;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #0c0a0a;
    color: #ffffff;
}

header h1 {
    font-size: 3em;
}

header p {
    font-size: 1.2em;
}

section {
    margin: 20px 0;
    padding: 20px;
    background-color: #d33c67;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

#about img {
    width: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 10px;
}

#skills ul {
    list-style: none;
    padding: 0;
}

#skills ul li {
    background-color: #cd6bc5;
    color: #bfe845;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    text-align: center;
}

.project {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #120505;
    color: #f6efef;
    position: fixed;
    width: 100%;
    bottom: 0;
}